.cartao{
    background-color: rgb(235, 232, 241);
    border: solid 3px red;
    text-align: center;
    width: fit-content;
    height: fit-content;
    padding: 70px;
    margin: 50px;
    border-radius: 10px 15px;
    box-shadow: 5px 7px;
    color: black;
    display: flex;
}


h1.vermelho {
    color: red;
} 
.verde{
    color: rgb(0, 110, 0);
}
.azul{
    color: blue;
}
.organizaçao{
    display: flex;
    align-items: flex-start;
    height: 10px;
    flex-flow: row wrap;
    align-content: flex-start;

}

#primeiro{
    order: -1
}

.subcartao {
    border: 2px solid rgb(60, 255, 0);
    border-radius: 10px 20px;
    box-shadow: 10px 5px;
    flex-direction: column-reverse;
}

.flex{
    border: 3px solid blue;
    text-align: right;
    font-size: xx-large;
    border-radius: 50px 25px;
    box-shadow: 50px 30px;
}